[submodule "Assets/Packages/unity-package-common"]
	path = Assets/Packages/unity-package-common
	url = https://github.com/Kmiecis/unity-package-common
[submodule "Assets/Packages/unity-package-mvb"]
	path = Assets/Packages/unity-package-mvb
	url = https://github.com/kmiecis/unity-package-mvb
[submodule "Assets/Packages/unity-package-materializer"]
	path = Assets/Packages/unity-package-materializer
	url = https://github.com/kmiecis/unity-package-materializer.git
[submodule "Assets/Packages/unity-package-dynamicinjection"]
	path = Assets/Packages/unity-package-dynamicinjection
	url = https://github.com/Kmiecis/unity-package-dynamicinjection
[submodule "Assets/Packages/unity-package-objectpooling"]
	path = Assets/Packages/unity-package-objectpooling
	url = https://github.com/kmiecis/unity-package-objectpooling
[submodule "Assets/Packages/unity-package-coroutines"]
	path = Assets/Packages/unity-package-coroutines
	url = https://github.com/kmiecis/unity-package-coroutines
[submodule "Assets/Packages/unity-package-behaviourtrees"]
	path = Assets/Packages/unity-package-behaviourtrees
	url = https://github.com/kmiecis/unity-package-behaviourtrees
